@inherits BlazorComponentBase
@using NetGuardAI.Core.Persistence.Entities
@using NetGuardAI.Core.Persistence
@using Microsoft.EntityFrameworkCore

<MudPaper Class="p-6">
    @if (_scanTargets is null)
    {
        <div class="w-full h-4 p-16 mx-auto">
            <MudProgressLinear Indeterminate="true"/>
        </div>
    }
    else
    {
        <MudForm @ref="_form" @bind-IsValid="@_success">
            <MudContainer Class="flex flex-col gap-4">
                <MudButton OnClick="OnAdd" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" Variant="Variant.Outlined">Adicionar IP</MudButton>
                @if (_scanTargets.Count == 0)
                {
                    <MudText Class="align-self">Nenhum alvo cadastrado...</MudText>
                }
                else
                {
                    foreach (var target in _scanTargets)
                    {
                        <IPEntry ScanTarget="target" OnDelete="OnDelete"/>
                    }
                }

                <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Disabled="@(!_success || _isLoading)" OnClick="SaveChanges">
                   @if (_isLoading)
                   {
                       <MudProgressCircular Class="mr-2" Size="Size.Small" Indeterminate="true" />
                   }
                   Salvar
                </MudButton>
            </MudContainer>
        </MudForm>
    }
</MudPaper>

@code {
    private bool _isLoading;
    private List<ScanTarget>? _scanTargets;
    private List<ScanTarget> _targetsToDelete = new();
    private List<ScanTarget> _targetsToAdd = new();
    private MudForm? _form;
    private bool _success;

    [InjectScoped]
    public AppDbContext Context { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        _scanTargets = await Context.ScanTargets.ToListAsync();
        StateHasChanged();
    }

    private void OnDelete(ScanTarget target)
    {
        if (_scanTargets!.Contains(target))
            _targetsToDelete.Add(target);
        
        _scanTargets.Remove(target);
        StateHasChanged();
    }

    private void OnAdd()
    {
        var target = new ScanTarget { IpRange = string.Empty };
        _scanTargets?.Add(target);
        _targetsToAdd.Add(target);
    }

    private async Task SaveChanges()
    {
        _isLoading = true;
        StateHasChanged();
        
        foreach (var target in _targetsToDelete)
        {
            Context.ScanTargets.Remove(target);
        }
        
        foreach (var target in _targetsToAdd)
        {
            Context.ScanTargets.Add(target);
        }
        
        await Context.SaveChangesAsync();
        _scanTargets = await Context.ScanTargets.ToListAsync();
        
        _targetsToAdd.Clear();
        _targetsToDelete.Clear();
        _isLoading = false;
        
        StateHasChanged();
    }

}